version: 1
indices:
  pages:
    exclude:
      - '/**.json'
    target: /course-index.json
    properties:
      lastModified:
        select: none
        value: parseTimestamp(headers["last-modified"], "ddd, DD MMM YYYY hh:mm:ss GMT")
      'courseId':
        select: head > meta[name="course-id"]
        value: attribute(el, "content")
      'courseTitle':
        select: head > meta[name="course-title"]
        value: attribute(el, "content")
      'courseDuration':
        select: head > meta[name="course-duration"]
        value: attribute(el, "content")
      'courseSkillLevel':
        select: head > meta[name="course-skill-level"]
        value: attribute(el, "content")
      'courseSkills':
        select: head > meta[name="course-skills"]
        value: attribute(el, "content")
      'courseType':
        select: head > meta[name="course-type"]
        value: attribute(el, "content")
      'courseRating':
        select: head > meta[name="course-rating"]
        value: attribute(el, "content")
      'courseEnrollmentCount':
        select: head > meta[name="course-enrollment-count"]
        value: attribute(el, "content")
      'description':
        select: head > meta[name="description"]
        value: attribute(el, "content")
